<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="hp-top-nav">
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-logo">KSR</a>
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-regular">Desktops</a>
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-regular">Laptops</a>
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-regular">Cases</a>
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-regular">Contact</a>
            <a href="#" class="hp-nav-btn text-size-13 hp-nav-sub font-regular">Blogs</a>
            <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Login</a>
            <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Register</a>
            <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Cart(0)</a>
        </div>
        <div class="hp-drop-nav">
            <div class="menu">
                <button class="hp-drop-group text-logo">KSR</button>
                <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Login</a>
                <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Register</a>
                <a href="#" class="hp-nav-btn hp-nav-split text-size-13 hp-nav-sub font-regular">Cart(0)</a>
            </div>
            <div class="hp-drop-content">
                <a href="#" class="hp-drop-btn font-regular">Desktops</a>
                <a href="#" class="hp-drop-btn font-regular">Laptops</a>
                <a href="#" class="hp-drop-btn font-regular">Cases</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="foot-div">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="foot-general">
                                <div class="social-media">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <i class="fa fa-twitch" aria-hidden="true"></i>
                                </div>
                                <b class="foot-wording">© 2024 KSR Corp - Terms of Service - Return Policy - Privacy
                                    Policy</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>